* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a9a9dc;
    opacity: 0.5;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #a9a9dc 10px ), repeating-linear-gradient( #e523e055, #e523e0 );
    min-width: 320px;
    flex-wrap: wrap;
    flex-direction: column;

}
header h1 {
    display: flex;
    text-align: center;
    font-size: 1.9rem;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header h1::first-letter{
    font-size: 3.5rem;
}
header h2 {
    display: flex;
    text-align: center;
    font-size: 2.9rem;
    justify-content: center;
    margin-block-start: 20px;
    margin: 0 auto;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
main {
    width: 100%;
    height: 100vh;
    background-color: hotpink;
    min-width: 320px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    

}
main form {
    width: 50%;
    height: 60px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid white;
    margin-block-start: 10px;
}
main form label span {
    color: aliceblue;
    font-size: 1.3rem;
}

/* page1*/
.container-page1 {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
